@charset "UTF-8";
body{
	background-image: url("Gray.jpg");
}

.TopNavigation{
	color: white;
  	font-family: sans-serif;
  	text-align: center;
  	border-style: double;
  	border-width: 5px;
  	background-color: #0073e6;
  	overflow: hidden;
}

.TopNavigation img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;	
}

.TopNavigation a{
	background-color: slategrey;
	color: white;
	font-family: sans-serif;
	display: block;
	padding: 20px;
	float: left;
}

.TopNavigation a:hover{
	background: darkgrey;
}

.TopNavigation h1{
	text-align: right;
	padding: 5px;
}

h1{
	color: white;
  	font-family: sans-serif;
  	font-size: 24;
  	text-align: center;
  	}

p{
	text-align: center;
	font-family: sans-serif;
  	font-size: 18px;
  	color: black;
}
form{
	margin: 0 auto;
	width : 400px;
	font-family: sans-serif;
	border-color: black;
}

label{
	display: inline-block;
	width: 90px;
	text-aligh: right;
}